# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ/VS Code
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android Studio build artifacts
/android/app/build/
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/

# iOS build artifacts / Pods
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# FVM Version Cache
.fvm/

# Generated web files (웹 중심 프로젝트 시)
web/manifest.json
web/favicon.png

# Environment / Secrets
.env
*.keystore

